[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
bitstring = "*"

[requires]
python_version = "3.8"

[scripts]
build = "pyinstaller src/reverse_polish_calculator/main.py --onefile --name rpn"
